{% extends 'base.html' %}
{% load static %}


{% block content %}
	<main>
    {% if user.is_authenticated %}
        <div class="polz">
        <div class="polz_login">
        <div class="foto_polzavately_redakt">

            <a href="{% url 'change-profile' %}"><img src="{% static 'img/pencil 1.png' %}" alt="" class="redakt"></a>

            <img src="" alt="">
        </div>

        <div class="glavny_vibor_polyzovately">
            <div class="img_history">
                <h1 class="user_name_last_name">{{ user.username }}</h1>
                <h1 class="user_email">{{ user.email }}</h1>
                <a href=""><img src="{% static 'img/Group 715.png' %}" alt=""></a>
                <a href=""><img src="{% static 'img/Group 716.png' %}" alt=""></a>
                <div class="block_polz_login_ob_ak">
                    <a href="">ОБ АККАУНТЕ</a></div>
            </div>
            {% if request.user.is_superuser %}
                <div class="block_polz_login_ob_ak">
                    <a href="{% url 'admin:index' %}">Админка</a>
                </div>
            {% endif %}
            <div class="out">
                <a href="{% url 'loqout' %}">Выйти</a>
            </div>
        </div>

    {% else %}
        <div class="polz">
        <div class="polz_login">
        <div class="reg">
            <div class="reg_log">
                <div class="foto_polzavately_redakt">

                </div>
                <div class="voiti">
                    <a href="{% url 'login' %}">Войти</a>
                </div>
                <div class="registrazii">
                    <a href="{% url 'register' %}">Зарегистрироваться</a>
                </div>
            </div>
        </div>

    {% endif %}
    </div>
    </div>
    </div>
    <div class="line"><img src="{% static 'img/red line 3.png' %}" alt=""
    ></div>
    <div class="line2"><img src="{% static 'img/red line 2.png' %}" alt=""></div>


    <section id="section_velkom">


        <div id="maindiv">

            <div id="div_h6_main">
                <h1 id="h6_main">ДОБРО ПОЖАЛОВАТЬ</h1>
                <h1 id="sait" class="font-inter">НАКРУТКА</h1>

                <p id="p_nakrytka_main" class="font-inter">
                    НАКРУТКА ПОДПИСЧИКОВ, ПРОСМОТРОВ, ГОЛОСОВ И ОПРОСОВ В СОЦИАЛЬНЫХ
                    СЕТЯХ!
                </p>
            </div>
            <div id="video">
                <iframe
                        width="520"
                        height="355"
                        src="https://www.youtube.com/embed/tgbNymZ7vqY"
                >
                </iframe>
            </div>
        </div>
    </section>

    <section>
        <div class="parent">
            <button class="telegram">
                <p>TELEGRAM</p>
                <i class="fa-brands fa-telegram"></i>
            </button>
            <button class="youtube">
                <p>YOUTUBE</p>
                <i class="fa-brands fa-youtube"></i>
            </button>
            <button class="instagram">
                <p>INSTAGRAM</p>
                <i class="fa-brands fa-instagram"></i>
            </button>
            <button class="facebook">
                <p>FACEBOOK</p>
                <i class="fa-brands fa-facebook"></i>
            </button>
            <button class="tiktok">
                <p>TIKTOK</p>
                <i class="fa-brands fa-tiktok"></i>
            </button>
            <button class="twitter">
                <p>TWITTER</p>
                <i class="fa-brands fa-twitter"></i>
            </button>
            <button class="lets_go font-inter">НАЧАТЬ РАСКРУТКУ</button>
        </div>
    </section>

    <section id="section_kalkylytor">
        <div class="grid_kalkylytor">
            <div class="kalk">
                <div class="kalkykytor">

                    <div class="kalkulator">
                        <div class="nain">
                            <p class="text_naim">Калькулятор услуг</p>
                        </div>
                        <div class="calculator">
                            <div class="select">
                                <div class="option_img"><img src="{% static 'img/Telegram.png' %}" alt="">Telegram</div>

                            </div>

                            <div class="services"></div>
                            <div>
                                <div class="Type_of_tipping"></div>
                                <div class="spin_option"></div>
                            </div>

                            <form action="#">
                                <input type="text" class="input_int"/>
                            </form>


                            <div class="prays">
                                <span class="par">Итого</span>
                                <p class="prays_p">-</p>
                            </div>
                            <P></P>

                            <div class="div_reg">
                                <button class="button_reg">
                                    Зарегистрироваться и оформить заказ
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <aside class="aside_kalkykytor">
                <div class="grafikk">
                    <img src="{% static 'img/ГРАФИК В5НИЗ 1.png' %}" alt="" id="grafik" width="70px"/>
                    <h3 id="grafik_h3" class="font-inter">НИЗКАЯ ЦЕНА</h3>

                    <p class="font-inter">
                        Низкие цены на накрутку подписчиков, просмотров , опросов, реакций
                        для социальных сетей.
                    </p>
                </div>


                <div class="shield">
                    <img src="{% static 'img/ЩИТ КРСНЫЙ 1.png' %}" alt="" width="15%" id="zit"/>
                    <h3 class="font-inter">ГАРАНТИЯ РЕЗУЛЬТАТА</h3>

                    <p class="font-inter">
                        Наши методы абсолютно безопасны, и мы гарантируем результат. Ваш
                        канал не будет подвергнут санкциям, а все заказы гарантированно
                        анонимны.
                    </p>
                </div>

                <div class="oclick">
                    <img src="{% static 'img/ЧАСЫ КРАСНЫЕ 1.png' %}" alt="" width="15%" id="oclock"/>
                    <h3 id="oclock_h3" class="font-inter">СКОРОСТЬ ПРОЦЕССА</h3>

                    <p class="font-inter">
                        Одним из важнейших требований в нашем деле - скорость!
                    </p>
                </div>
            </aside>
        </div>
    </section>


    <h6 id="social_h6" class="font-inter">СОЦИАЛЬНЫЕ СЕТИ</h6>
    <div class="social">
        <button class="div1">
            <img
                    src="{% static 'img/Telegram (1).png' %}"
                    alt=""
                    class="social_img"
                    width="15%"
            />
            <h1>TELEGRAM</h1>
            <p class="font-inter">
                Выпуск самого безопасного и продвинутого мессенджера в мире.
            </p>
        </button>
        <button class="div2">
            <img
                    src="{% static 'img/Youtube (1).png' %}"
                    alt=""
                    class="social_img"
                    width="15%"
            />
            <h1>YOUTUBE</h1>
            <p class="font-inter">
                Самый популярный в мире сервис видеохостинга
            </p>
        </button>
        <button class="div3">
            <img
                    src="{% static 'img/Instagram (1).png' %}"
                    alt=""
                    class="social_img"
                    width="15%"
            />
            <h1>INSTAGRAM</h1>
            <p class="font-inter">
                Социальная сеть, в которой пользователи обмениваются фотографиями
                и видеоматериалами.
            </p>
        </button>
        <button class="div4">
            <img
                    src="/img_social_seti/Facebook (1).png"
                    alt=""
                    class="social_img"
                    width="15%"
            />
            <h1>FACEBOOK</h1>
            <p class="font-inter">Недорогое продвижение в Facebook!</p>
        </button>
        <button class="div5">
            <img
                    src="/img_social_seti/Tik Tok (2).png"
                    alt=""
                    class="social_img"
                    width="15%"
            />
            <h1 class="tikitoki">TIKTOK</h1>
            <p class="font-inter">
                Быстрорастущая социальная сеть, предлагающая короткие видеоролики
                и ритмичную музыку
            </p>
        </button>
        <button class="div6">
            <img
                    src="/img_social_seti/Twitter (1).png"
                    alt=""
                    class="social_img"
                    width="15%"
            />
            <h1>TWITTER</h1>
            <p class="font-inter">
                Сохраняйте свои твиты безопасными, быстрыми и интересными!
            </p>
        </button>
    </div>
    </section>

    <section id="yslygi">
        <h1 class="font-inter">УСЛУГИ НАКРУТКИ</h1>

        <div class="yskygi_grid">
            <div class="podpiski">
                <img src="/yslygi/person-square 1.png" alt=""/>
                <h6 class="font-inter">ПОДПИСЧИКИ</h6>
                <p class="font-inter">
                    Высококачественные подписчики на профиль канала или группу
                </p>
            </div>
            <div class="reakwii">
                <img src="/yslygi/heart-half 1.png" alt=""/>
                <h6 class="font-inter">РЕАКЦИИ</h6>
                <p class="font-inter">
                    Лайки на ваши записи, фото, видео и комментарии
                </p>
            </div>
            <div class="komment">
                <img src="/yslygi/chat-right-dots 2.png" alt=""/>
                <h6 class="font-inter">КОММЕНТАРИИ</h6>
                <p class="font-inter">Под вашим постом, видео или фото</p>
            </div>
            <div class="prosmotr">
                <img src="/yslygi/eye 1.png" alt=""/>
                <h6 class="font-inter">ПРОСМОТРЫ</h6>
                <p class="font-inter">
                    Безопасный просмотр веб-страниц в социальных сетях и мессенджерах
                </p>
            </div>
        </div>
    </div>
    </section>

    <section id="servis">
        <h4 class="font-inter">О СЕРВИСЕ ... лого</h4>

        <p class="font-inter">
            Современное общество уже невозможно представить без социальных сетей.
            Люди, компании и сообщества. Весь мир погрузился в мир онлайн.
            Современная жизнь не мыслима без мобильных телефонов и компьютеров.
            Все, что мы ценим больше всего, уже переместилось в социальные сети.
            Работа, друзья и отношения поддерживаются и поддерживаются с помощью
            текстовых сообщений. Но если некоторым людям достаточно просто
            общаться в сети, то перед бизнесом и лидерами мнений стоит другая
            задача: привлечение подписчиков и развитие сообществ в социальных
            сетях. Прибыль больше не зарабатывается назаводах и полях, большие
            деньги делаются в Интернете,и чем лучше вы понимаете,как процветать в
            сети, тем больше денег вы сможете заработать. Понимание современных
            социальных тенденций привело к идее создания профессионального,
            востребованного продукта, способного развивать и поддерживать
            сообщества в социальных сетях.
        </p>
    </section>
</main>
{% endblock %}
