@import url("https://fonts.cdnfonts.com/css/bebas-neue");

header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: #444444;
}

.vidviznoe_menu {
  border: 1px solid #870808;
  width: 100%;
  max-width: 100%; /* Максимальная ширина блока */
  height: 26vw; /* Высота автоматически рассчитывается */
  background-color: #252525;
  position: absolute;
  display: flex;
  overflow: hidden;
  z-index: 1;
  padding: 0 7%; /* Добавлено для обре зания контента, который выходит за пределы блока */
}

.vidviznoe_menu_dop_div {
  flex-shrink: 0; /* Запрет уменьшения размера этого блока */
  width: 1%;
}

.vidviznoe_menu img {
  margin-top: 2%;
  max-width: 100%; /* Изображение не будет выходить за пределы своего контейнера */
}

.tg_menu {
  margin-bottom: 1px;
  margin-top: 1px;
}

.tg_menu img {
  margin-top: -490%;
  max-width: 280%;
}

.tg_menu li {
  font-family: "Bebas Neue", sans-serif;
  /* Добавлено */
  font-size: 0.8vw; /* Используйте относительный размер шрифта */
  font-weight: 700;
  line-height: 1.5vw; /* Используйте относительный размер высоты строки */
  letter-spacing: 1px;
  list-style-type: none;
}

.tg_menu a {
  text-decoration: none;
  color: #ffffff;
}

.tg_menu ul {
  padding: 10% 3% 0 0;
  margin-top: 15px;
}
#nav_header {
  display: flex;
  width: 200%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

header h5 {
  margin-left: 6%;
  color: #ffffff;
}

#header_main_ul {
  display: flex;
  width: 688px;
  height: 32px;
}

.header_main {
  letter-spacing: 1px;
  font-family: "Bebas Neue", sans-serif;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  padding: 4px;
  line-height: 30px;
}

#login {
  margin-right: 4.2%;
  display: flex;
  width: 200px;
  height: 4vh;
  background: #870808;
  border-radius: 5px;
  align-items: center;
}

.user_name_last_name {
  font-family: Bebas Neue;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 49px;
}

.user_email {
  font-family: Bebas Neue;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 1px;
  text-align: center;
}

.img_history img {
  padding: 0 20px;
  margin-top: 25px;
  width: 100.08px;
  text-align: center;
}

.block_polz_login_ob_ak {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 97px;
  width: 235px;
  height: 80px;
  background-color: #252525b8;
  border-radius: 20px;
}

.glavny_vibor_polyzovately {
  text-align: center;
}

.ayt a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  width: 140px;
  height: 40px;
}

.ayt a:hover {
  background: #870808;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #870808, 0 0 25px #870808, 0 0 50px #870808,
    0 0 100px #870808;
}

.ayt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 80px;
  margin-top: 10%;
  background-color: #252525b8;
  border-radius: 20px;
}

.block_polz_login_ob_ak a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  width: 140px;
  height: 40px; /* Добавим автоматические отступы слева и справа для центрирования */
}

.block_polz_login_ob_ak_D a {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  width: 140px;
  height: 40px;
}

.block_polz_login_ob_ak a:hover {
  background: #870808;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #870808, 0 0 25px #870808, 0 0 50px #870808,
    0 0 100px #870808;
}

.block_polz_login_ob_ak_D a:hover {
  background: #870808;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #870808, 0 0 25px #870808, 0 0 50px #870808,
    0 0 100px #870808;
}

.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 80px;
  margin-top: 10%;
  background-color: #252525b8;
  border-radius: 20px;
}

.admin a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  width: 140px;
  height: 40px;
}

.admin a:hover {
  background: #870808;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #870808, 0 0 25px #870808, 0 0 50px #870808,
    0 0 100px #870808;
}

.redakt {
  width: 28px;
  position: absolute;
  bottom: 20%;
  right: 4%;
}

.foto_polzavately_redakt {
  position: relative;
  background-color: #870808;
  width: 18vw;
  height: 9vh;
}
.hidden {
  display: none;
}

.redakt_polz {
  font-family: "Bebas Neue", sans-serif;

  right: 2%;
  position: absolute;
  width: 18vw;
  height: auto;
  padding-bottom: 2%;
  background-color: #171717;
}

.ob_ak {
  position: absolute;
  right: 2%;
  width: 18vw;
  height: auto;
  padding-bottom: 2%;
  background-color: #171717;
}

.polz_login {
  z-index: 2;
  position: absolute;
  right: 2%;
  width: 18vw;
  height: auto;
  padding-bottom: 2%;
  background-color: #171717;
}

.reg_log {
  position: absolute;

  z-index: 2;
  width: 18vw;
  height: auto;
  padding-bottom: 2%;
  background-color: #171717;
}

.name_email h4 {
  font-family: Bebas Neue;
  font-size: 30px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

  margin: 10% 0 0 0;
  display: flex;
  flex-direction: row;
}

.div_p_redakt p {
  margin: 0;
}

.one {
  top: 53%;
}

.two {
  top: 64%;
}

.three {
  top: 74%;
}

.name_email img {
  position: absolute;

  width: 19px;
  left: 85%;
}
.p_one {
  top: 52%;
}

.p_two {
  top: 63%;
}

.p_three {
  top: 73%;
}

.div_p_redakt {
  position: absolute;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b3b;
  width: 135px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.vse_o_polz_redakt {
  margin-left: 5%;
  margin-top: 30%;
}

.vse_o_polz {
  margin-left: 10%;
  margin-top: 30%;
}

.foto_polzavately_redakt .foto {
  position: absolute;
  top: 50%;
  left: 37%;
  border: 5px solid #171717;
  border-radius: 50%;
}

.voiti {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 80px;
  margin-top: 10%;
  background-color: #171717;
  border-radius: 20px;
}

.voiti a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  width: 120px;
  height: 40px;
}

.voiti a:hover {
  background: #870808;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #870808, 0 0 25px #870808, 0 0 50px #870808,
    0 0 100px #870808;
}

.registrazii {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 80px;
  margin-top: 10%;
  background-color: #252525b8;
  border-radius: 20px;
}

.registrazii a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  width: 190px;
  height: 40px;
}

.registrazii a:hover {
  background: #870808;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #870808, 0 0 25px #870808, 0 0 50px #870808,
    0 0 100px #870808;
}

.main_reviews {
  z-index: 2;
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  height: 20vh;
  background-color: #171717;
  border-bottom: 2px solid #870808;
}

.create_review a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  width: 190px;
  height: 60px;
}

.create_review a:hover {
  background: #870808;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #870808, 0 0 25px #870808, 0 0 50px #870808,
    0 0 100px #870808;
}

.view_review a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  width: 190px;
  height: 60px;
}

.view_review a:hover {
  background: #870808;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #870808, 0 0 25px #870808, 0 0 50px #870808,
    0 0 100px #870808;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
}

dialog {
  border-radius: 10px;
  border: none;
}

dialog h3 {
  font-weight: bold;
}

.form-control {
  resize: none;
  border: #870808;
}

#ddddd {
  color: #ffffff;
  background-color: #121212;
  border: 1px solid #7a7979;
  transition: 0.5s all;
}

#ddddd:focus {
  border: #870808;
  -webkit-box-shadow: 0px 0px 30px 3px rgba(135, 8, 8, 1);
  -moz-box-shadow: 0px 0px 30px 3px rgba(135, 8, 8, 1);
  box-shadow: 0px 0px 30px 3px rgba(135, 8, 8, 1);
}

.form {
  color: #fff;
  background-color: #171717;
  font-family: "Bebas Neue", sans-serif;
  padding: 30px;
  height: auto;
  font-size: 25px;
  height: auto;
  width: 580px;
  max-width: 580px;
  font-weight: 500;
}

.button_ak_rev {
  justify-content: flex-end;
  display: flex;
}

.rate > input {
  display: none;
}

.rare {
  display: inline-block;
  border: 0;
}

.rate {
  display: flex;
  width: 40%;
}

.rate > label {
  float: left;
  width: 600px;
}

.rate > label:before {
  display: inline-block;
  font-size: 2.1rem;
  content: "★";
  font-family: Font Awesome;
  margin: 0;
  padding: 0.3rem 0.2rem;
  cursor: pointer;
}

.rate .half:before {
  content: "★";
  position: absolute;
  padding-right: 0;
}

input:checked ~ label,
label:hover ~ label {
  color: #ffb503;
}

input:checked + label:hover,
input:checked ~ label:hover,
input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label {
  color: #cc9000;
}

#button_close,
#button_rev {
  font-family: "PT Sans Narrow", sans-serif;
  margin: 0 3%;
  transition: 0.6s all;
  background-color: #870808;
  border: none;
}

#button_rev {
  width: 150px;
}

#button_close {
  width: 90px;
}

#button_close:hover,
#button_rev:hover {
  background-color: #5e0707;
  -webkit-box-shadow: 0px 0px 30px 3px rgba(135, 8, 8, 1);
  -moz-box-shadow: 0px 0px 30px 3px rgba(135, 8, 8, 1);
  box-shadow: 0px 0px 30px 3px rgba(135, 8, 8, 1);
}
#login_teg_a {
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  font-size: 25px;
  font-weight: 600;
  line-height: 22px;

  text-align: left;
  color: #ffffff;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #252525;
  width: auto;
  height: auto;
  padding: 50px;
  border: 1px solid black;
  display: flex;
}

#foter_div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.div_logo {
  color: #ccc;
  font-size: 15px;
}
#kontakt {
  color: #ccc;
  width: 33%;
  text-align: center;
}
#kontakt img {
  margin-right: 30%;
}
#kontakt div {
  padding: 3% 0;
}

#logo {
  width: 15%;
}

#oplata_h3 {
}

#oplata {
  margin-top: 0;
  color: #ccc;
  width: 20%;
  text-align: center;
}
.oplata_div {
  padding: 5% 0;
  margin: auto;
}
.oplata_div img {
  margin: 3% 3%;
}
/* Hide the default checkbox */
@media screen and (max-width: 450px) {
  .header_main {
    visibility: hidden;
  }
}
