{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
    <link rel="stylesheet" href="assets/font-awesome/5.15.2/css/all.min.css"/>
    <title>Отзывы</title>
</head>
<body>
    <form class="form" method="POST">
        {% csrf_token %}
        <div>
            <div class="rate">
                <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
                <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
                <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
                <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
                <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
            </div>
        <br>
        <br>
            <input type="text" class="form-control" name="subject" required>
            <br>
        <br>
            Review
            <textarea name="review" rows="4" class="form-control"></textarea>
            <br>
            {% if user.is_authenticated %}
            <input type="submit" value="Submit Review" class="btn btn-primary">
            {% else %}
                <p>Вы не вошли в аккаунт! <span href="{% url 'login' %}">Login</span></p>
            
            {% endif %}
                    {% for message in messages %}
                <div class="eror">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
</form>


</body>
</html>